.card_flag {
  width: 300px;
  height: 380px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card_flag:hover {
  transform: translateY(-5px);
}

.card_flag img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_flag .container_text_flag {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card_flag h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card_flag .capital {
  font-size: 14px;
}

.card_flag .nbre_hab {
  font-size: 14px;
}

.card_flag .independance {
  font-size: 14px;
}

.card_flag .superficie {
  font-size: 14px;
}

.card_flag .click-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card_flag:hover .click-message {
  opacity: 1;
}

.card_flag .neighboring-countries {
  margin-top: 10px;
}

.card_flag .neighboring-countries h3 {
  margin-bottom: 5px;
}

.card_flag .neighboring-countries .card_flag {
  margin: 5px;
}

.card_flag .neighboring-countries .card_flag img {
  height: 100px;
  width: 100%;
  border-radius: 5px;
}

.card_flag .neighboring-countries .card_flag h2 {
  font-size: 14px;
}

.card_flag .neighboring-countries .card_flag .capital,
.card_flag .neighboring-countries .card_flag .nbre_hab,
.card_flag .neighboring-countries .card_flag .independance,
.card_flag .neighboring-countries .card_flag .superficie {
  font-size: 12px;
}
